<div id="eu-cookie-dialog">
    @await Component.InvokeAsync("EuCookieLawDialog")
</div>
<div id="eu-cookie-change">
    @await Component.InvokeAsync("EuCookieLawChange")
</div>
<script asp-location="Head">
    const cookieConsentAccepted = new Event('cookieConsentAccepted');
    const cookieConsentChanged = new Event('cookieConsentChanged');
</script>
<script asp-location="Footer">
    $(document).ready(function () {

        $('#eu-cookie-dialog').on('click', '#eu-cookie-accept-all', function () {
            var purposes = $("input[data-purpose]").map(function () {
                return $(this).data('purpose');
            }).get().join(',');
            setEUCookieLawPreferences(purposes);
        });

        $('#eu-cookie-dialog').on('click', '#eu-cookie-accept-selected', function () {
            var purposes = $("input[data-purpose]:checked").map(function () {
                return $(this).data('purpose');
            }).get().join(',');
            setEUCookieLawPreferences(purposes);
        });

        $('#eu-cookie-dialog').on('click', '#eu-cookie-accept-necessary', function () {
            setEUCookieLawPreferences("");
        });

        $('#eu-cookie-dialog').on('change', 'input[name=purpose]', function () {
            showEUCookieLawSelectedButton();
        });

        $("input[name=purpose]").change(function () {
            showEUCookieLawSelectedButton();
        });

        initialiseEUCookieLawButtons();
    });

    function setEUCookieLawPreferences(purposes) {
        $.ajax({
            cache: false,
            type: "POST",
            url: "@Url.Action("EuCookieLawAccept","Common")?purposes=" + purposes,
            dataType: "json",
            success: function (data, textStatus, jqXHR) {
                window.dispatchEvent(cookieConsentAccepted);
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert('Cannot store value');
            }
        });
    }

    function initialiseEUCookieLawButtons() {
        if ($("input[data-purpose]").length == 0) {
            $('#eu-cookie-accept-all').hide();
        }
    }

    function showEUCookieLawSelectedButton() {
        $('#eu-cookie-accept-necessary').hide();
        $('#eu-cookie-accept-all').hide();
        $('#eu-cookie-accept-selected').show();
    }


    $(window).on('cookieConsentAccepted', function () {
        $("#eu-cookie-dialog").html("");
        window.dispatchEvent(cookieConsentChanged);
            $.ajax({
                cache: false,
                type: "GET",
                url: "@Url.Action("EuCookieLawChange", "Common")",
                dataType: "html",
                success: function (data, textStatus, jqXHR) {
                    $("#eu-cookie-change").html(data);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert('Cannot get value');
                }
            });
    });

    $(document).ready(function () {
        $('#eu-cookie-change').on("click", "#eu-cookie-change-button", function () {
            $.ajax({
                cache: false,
                type: "GET",
                url: "@Url.Action("EuCookieLawDialog", "Common")",
                dataType: "html",
                success: function (data, textStatus, jqXHR) {
                    $("#eu-cookie-dialog").html(data);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert('Cannot get value');
                }
            });
        });
    });
</script>